/* importer les fonts Literata et Righteous depuis l'API de Google*/
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200..900&family=Righteous&display=swap');

/* les déclarations qui commencent par -- sont des variables css.
pour des questions de facilité, si on veux changer les couleurs de la page, on les change directement dans les variables,
ça évite d'aller chercher les couleurs dans tous le documents. */

/* pour les appeler, on utilise var(--supervariable) */

body {
    --main-color: #31363F;
    --darker-color: #222831;
    --ligher-color: #EEEEEE;
    --enhance-color :#54bea9;
    font-family: "Literata", serif;
    background: var(--darker-color);
    color: var(--ligher-color);
    margin: 0;
}

/******************************** HEADER *********************************/
.header {
    background: var(--enhance-color);
}

.header ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: 0;
    /* unité de mesure "vw" = largeur de la fenêtre en pourcentage (vh = hauteur de la fenêtre) */
    width: 100vw;
}


.header li{
    /* unité de mesure em (bonne pratique pour les font) = une largeur de "m" avec cette police de caractères*/
    font-size: 1.8em;
    font-family: "Righteous", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.header a {
    color: var(--ligher-color);
    text-decoration: none;
}

/******************************** FOOTER *********************************/

footer {
    background: var(--main-color);
    /* position: fixed; */
    bottom: 0;
    width: 100vw;
}

/******************************** HOME *********************************/

#home{
    width: 70vw;
    margin: auto;
}

/* conteneur des encarts, qui les dispose en grille */
.grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* les encarts */
.card {
    background: var(--main-color);
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    /* transition: donne des propriétés de transition entre l'état initial de l'objet et son état après action. Ici, :hover (l91) */
    transition: all 200ms ease-in;
    /* box-shadow crée une ombre derrière l'objet décalée de 2px, d'une largeur de 10px et de la couleur #13171c */
    box-shadow: 2px 2px 10px #13171c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1{
    color: var(--enhance-color);
    font-size: 1.2em;
}

/* :hover = action qui enclanche la transformation */
.card:hover{
    transform: scale(1.01);
}

.card img{
    margin: auto;
    width: 200px;
    height: auto;
}

button{
    background: var(--enhance-color);
    color: var(--ligher-color);
    font-family: "Righteous", sans-serif;
    border: none;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
}

button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--enhance-color);
}